@model bayessoft.Models.LayoutViewModel

@{
    ViewData["Title"] = Model.IsEnglish ? "Services" : "Hizmetler";
    Layout = "_Layout";
}

<section class="kategori-section py-5">
    <div class="container">
        <h2 class="text-center fw-bold display-6 mb-2">
            @(Model.IsEnglish ? Model.SeciliKategori?.KategoriAdiEn : Model.SeciliKategori?.KategoriAdiTr)
        </h2>
        <p class="text-center text-muted mb-4">
            @(Model.IsEnglish
                ? "Below are the services under this category."
                : "Bu kategoriye ait hizmetler aşağıda listelenmiştir.")
        </p>
    <div class="text-center mb-5">
        <div class="arrow-down">&#8595;</div> <!-- bunlari footeri surekli asagida tutma kismi yapinca kaldir-->
        <div class="arrow-down">&#8595;</div>
    </div>
        
        <div class="kategori-grid d-none d-md-flex flex-wrap justify-content-center gap-4">
            @foreach (var hizmet in Model.SeciliKategoriHizmetleri)
            {
                <div class="kategori-box">
                    <img src="/images/hizmetler/@hizmet.ResimUrl" alt="@hizmet.UrunAdiTr" />
                    <div class="kategori-content">
                        <h5>@(Model.IsEnglish ? hizmet.UrunAdiEn : hizmet.UrunAdiTr)</h5>
                        <a href="/hizmet-kategori/@Model.SeciliKategori?.BaglantiUzantisi/@hizmet.BaglantiUzantisi">
                            @(Model.IsEnglish ? "Read More" : "Devamını Oku")
                        </a>
                    </div>
                </div>
            }
        </div>

        
        <div class="kategori-slider d-flex d-md-none">
            @foreach (var hizmet in Model.SeciliKategoriHizmetleri)
            {
                <div class="kategori-box">
                    <img src="/images/hizmetler/@hizmet.ResimUrl" alt="@hizmet.UrunAdiTr" />
                    <div class="kategori-content">
                        <h5>@(Model.IsEnglish ? hizmet.UrunAdiEn : hizmet.UrunAdiTr)</h5>
                        <a href="/hizmet-kategori/@Model.SeciliKategori?.BaglantiUzantisi/@hizmet.BaglantiUzantisi">
                            @(Model.IsEnglish ? "Read More" : "Devamını Oku")
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

@section Styles {
    <link rel="stylesheet" href="/css/hizmet-kategori-detay.css" />
}